<%= form_for(@profile, :html => { :multipart => true }) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation" class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h4>

      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group">
    <%= f.label :image %><br>
    <%= f.file_field :image, class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name, class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name, class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :current_title %><br>
    <%= f.text_field :current_title, class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :industry %><br>
    <%= f.text_field :industry, class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :experience_level %><br>
    <%= f.text_field :experience_level, class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :linkedin_profile_link %><br>
    <%= f.text_field :linkedin_profile_link, class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :years_of_experience %><br>
    <%= f.number_field :years_of_experience, class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :price %><br>
    <%= f.text_field :price, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= label_tag :country %><br>
    <%= text_field_tag :country, { :name => nil, :'data-stripe' => "country", class:"form-control" } %>
  </div>  

  <div class="form-group">
    <%= f.submit class:"btn btn-primary" %>
  </div>
<% end %>
