<p>
	<%= image_tag @profile.image.url(:medium) %>
</p>
<p>
  <strong>First name:</strong>
  <%= @profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @profile.last_name %>
</p>

<p>
  <strong>Current Title:</strong>
  <%= @profile.current_title %>
</p>

<p>
  <strong>Industry:</strong>
  <%= @profile.industry %>
</p>

<p>
  <strong>Experience Level:</strong>
  <%= @profile.experience_level %>
</p>

<p>
  <strong>LinkedIn Profile Link:</strong>
  <%= @profile.linkedin_profile_link %>
</p>


<p>
  <strong>Years of experience:</strong>
  <%= @profile.years_of_experience %>
</p>

<p>
  <strong>Price:</strong>
  <%= @profile.price %>
</p>

<%= link_to "Buy it now", new_profile_order_path(@profile), class: "btn btn-primary", data: { no_turbolink: true } %>

<%= link_to image_tag('blue-on-light.png'), user_omniauth_authorize_path(:stripe_connect) %>

<% if current_user == @profile.user %>
	<%= link_to 'Edit', edit_profile_path(@profile), class:"btn btn-link" %> |
<% end %>
<%= link_to 'Back', profiles_path, class:"btn btn-link" %>
